APP_ADDR=:8080
DB_PATH=./data/securetodo.db

# local or s3
REPORT_STORAGE=local

# Used when REPORT_STORAGE=local
REPORTS_DIR=./reports

# Used when REPORT_STORAGE=s3
AWS_REGION=ca-central-1
S3_BUCKET_NAME=
S3_REPORTS_PREFIX=reports/